<div class="card-user-details">
  <div class="user-picture">
    <img [src]="user.picture.large" />
  </div>
  <div class="user-info">
    <p><strong>Nome Completlo: </strong>{{ user.name.first }} {{ user.name.last }}</p>
    <p><strong>Endereço: </strong>{{ user.location.street.name }}, {{ user.location.street.number }} - {{ user.location.city }}, {{ user.location.state }}</p>
    <p><strong>Telefone: </strong>{{ user.phone }}</p>
    <p><strong>Celular: </strong>{{ user.cell }}</p>
    <p><strong>Data de Nascimento: </strong>{{ user.dob.date | date: 'dd/mm/yyyy' }}</p>
  </div>
</div>
<a class="btn-back" [routerLink]="['/usuarios']">Voltar</a>
