.card-user-details {
  border: 1px solid #999;
  display: block;
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;

  .user-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .user-info {
    display: flex;
    flex-flow: column nowrap;

    p {
      color: #333;
      margin: 10px 0 0 0;
    }
  }
}

.btn-back {
  background-color: dodgerblue;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  margin-top: 30px;
  padding: 10px 20px;
  text-decoration: none;

  &:hover {
    background-color: #fff;
    border-color: dodgerblue;
    color: dodgerblue;
  }
}

@media (min-width: 800px) {
  .card-user-details {
    display: flex;

    .user-picture {
      margin: 0 20px 0 0;
    }
  }
}
