<h1>Lista de Pessoas</h1>
<div class="card-user" *ngFor="let user of users | orderByName: 'first'">
  <a class="card-user-link" [routerLink]="['/detalhes-usuario', user.id]">
    <p><strong>Nome: </strong>{{ user.name.first }} {{ user.name.last }}</p>
    <p><strong>Email: </strong> {{ user.email | lowercase }}</p>
  </a>
</div>
