.card-user {
  margin-bottom: 20px;

  .card-user-link {
    border: 1px solid #999;
    display: block;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;

    &:hover {
      border-color:#000;
    }

    p {
      color: #333;
    }
  }
}
